<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog">
    <meta name="author" content="vinaut">

    <title>Mind Over Matter</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/blog.css" rel="stylesheet">
    <link rel="shortcut icon" href="../ico/favicon.ico"> 

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../css/js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- 
    <h1>{{.Title}}</h1>
    <div>{{printf "%s" .Body}}</div>

    -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!--
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          -->
          <div class="navbar-brand">Mind Over Matter</div>
          <!--
          <a class="navbar-brand" href="#">Project name</a>
          -->
        </div>
          <!--
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
          -->
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-8">
          <div class="blog">
            <h1>The evil genius of Ryanair</h1>
          </div>
            <p class="lead">Background</p>
            <br>
            <p> If you don't live in Europe, or haven't travelled around it over the last decade or so, probably the name "Ryanair" doesn't mean much to you.
            Today is arguably the most known, iconic, reviled airline operating in Europe. Largely unknown before year 2000, it was one of the first airlines to</p>
            <p class="lead">Travel insurance</p>
            <p class="lead">Capcha</p>
        </div>
        <div class="col-md-4"></div>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
